header {
  color: #364d60;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size:  30px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  z-index: 100;
  margin: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  margin-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  
}

.display {
  font-size: 2em;
  background: #222;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.btn {
  font-size: 1.2em;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.operator {
  background-color: #4caf52;
  color: white;
}

.operator:hover {
  background-color: #45a048;
}

.equal {
  grid-column: span 4;
  background-color: #2196f5;
  color: white;
  font-size: 1.5em;
}

.equal:hover {
  background-color: #1e88e5;
}

#clear {
  background-color: #f44336;
  color: white;
}

#clear:hover {
  background-color: #d32f2f;
}
footer{
  text-align: center; 
  padding: 30px 0; 
  background-color: transparent; 
  font-size: 12px; 
  margin-top: auto;
}

@media screen and (max-width:480px){
.calculator {

  width: 280px;
  transform: scale(0.9);
  margin-top: 0px;

}
header{
  transform: scale(0.8);

}
  
}